/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.menu.sub {
  border-bottom: 0em;
}

a {
  color: #008;
}

.projbtn {
  font-family: Arial;
  color: #ffffff;
  font-size: 12px;
  background: #32566e;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.projbtn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


.unread-count {
    position: relative;
    bottom: -10px;
    left: -15px;
    font-size: 10px;
    text-align: center;
    border: 1px solid #890405;
    color: #fff;
    font-weight: bold;
    min-width: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #c91106;
    padding: 1px 2px;
}

.gamelink {
  cursor:pointer;
}
.gamelink:hover {
  background-color:#ddddff;
}

.list-group-item {
    background-color: #ecfaff;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNkOWY1ZmYiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(255, 255, 255)),color-stop(1, rgb(217, 245, 255)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(top,rgb(255, 255, 255) 0%,rgb(217, 245, 255) 100%);
    /* IE10+ */
    background-image: linear-gradient(to bottom,rgb(255, 255, 255) 0%,rgb(217, 245, 255) 100%);
    background-image: -ms-linear-gradient(top,rgb(255, 255, 255) 0%,rgb(217, 245, 255) 100%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
    .list-group-item {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffffff",endColorstr="#ffd9f5ff",GradientType=0);
    }
}
