#contains api keys, secrets, env variables, etc
# this version contains dummy variables and can be checked into version control

#twitter api bearer token
bearer = "AAAAAAAodisfpsodif"

#twitter api access key
twitkey = 'lkhjsdlfkjhsdfk'

#twitter api secret key
twitsecret = 'sdfkjshdflkjsdhf'
