Rob writes words. He got a degree in Drama from the University of Washington in 2009. He writes comedy and also does improv with Jet City Improv and Unexpected Productions. Improv shows he's been in include:
<ul>
  <li>House of Ink (UP, 2014)
  <li>Final Fantasy: The Improvised Adventures (UP, 2012, 2014)
  <li>It's Your Wonderful Life (JCI, 2012, 2013)
  <li>Final Transmission (JCI, 2011)
</ul>

He also writes sketch comedy and has done so for the youtube channel <a href="http://www.youtube.com/user/Satire">Satire</a> and the live comedy group The Pilot Episode.
<br><br>
He has written for games company Wizards of the Coast and the web series Job Hunters.
<br><br>
Here are youtube embeds of some of Rob's projects.
<br>
<form>
<div ng-repeat="project in projects">
  <input type="radio" name="radio" class="radio" id = "{{project.name}}" ng-model="sel.sel" value="{{project.name}}" />
  <label for="{{project.name}}">{{project.name}}</label>
  <br/>
</div></form><br>
<br>
sel {{sel.sel}}

        <div ng-repeat = "project in projects | filter:sel.sel">
          <iframe width="560" height="315" ng-src="{{project.youtubeUrl}}" frameborder="0" allowfullscreen></iframe>
          <br><p>{{project.summary}}</p>
          <br>
        </div>
