<div class="col-xs-12">
  <ul class="list-group">
    <li class="list-group-item">
      <button style="margin-left:0.2em;" class="btn btn-primary btn-sm" ng-click="randomWord()"><i class="glyphicon glyphicon-refresh"></i></button>
    </li>
    <span ng-if="wordtype == 'ttt'">
      <li class="list-group-item">
        <div class="col-xs-11 col-xs-offset-1">Two {{wordlist['noun']['word']}}s</div>
        <div class="col-xs-10 col-xs-offset-2">too {{wordlist['adj']['word']}}</div>
        <div class="col-xs-9 col-xs-offset-3">to {{wordlist['verb']['word']}}</div>
        <div class="clearfix"></div>
      </li>
    </span>

    <span ng-if="wordtype != 'ttt' && wordtype != 'teamname'">
      <li class="list-group-item">
        <h1>{{w.word}}</h1>
      </li>
      <span ng-if="wordtype != 'emotion'">
        <li class="list-group-item">
          {{w.def}}
        </li>
      </span>
    </span>

    <span ng-if="wordtype == 'teamname'">
      <li class="list-group-item">
        Your team is:
      </li>
      <li class="list-group-item">
        <h1>{{teamname}}</h1>
      </li>
    </span>
  </ul>
</div>

